@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right,#BF9D73,#F27052);
}
main {
    background-color: white;
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #3f1006;

}

h1 {
    color: #F27052 ;
    text-align: center;
    text-shadow: 1px 1px 2px  #F2D0A7;
}
h2 {
    color: #3f100681;
}
p {
    text-align: justify;
}