@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {    
    margin: auto;
    padding: 30px;
    max-width: 800px;
}

header {
    background-color: black;
    padding: 20px;
}

header h1 {
    color: white;
    font-family: 'Passion One', 'cursive';
    text-align: center;
    font-variant: small-caps;
}

header p {
    color: white;
    margin-top: -20px;
    font-size: 0.7em;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding-top: 50px;
    border: 1px solid black;    
}

.paragrafo {
    font-family: 'Sriracha', 'cursive';
    font-weight: bold;
    font-weight: normal;
    line-height: 2em;
}

.imagem {
    font-family: 'Sriracha', 'cursive';
    font-weight: bold;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.765);
    line-height: 2em;
}

.imagem p {
    width: 400px;
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

